h1 {
  color: #717C7C;
}
  .overview-page {
    padding: 2rem;
    font-family: sans-serif;
  }
  .summary-buttons button {
    margin-right: 1rem;
    padding: 0.5rem 1rem;
  }
  .overview-charts {
    display: grid;
    grid-template-columns: repeat(2, 300px);
    grid-gap: 2rem;
    margin-top: 2rem;
  }
  .chart-box {
    background: #f4f4f4;
    /* border: 3px solid #262626; */
    padding: 1rem;
    border-radius: 8px;
  }
  .legend p {
    margin: 0.3rem 0;
  }
